<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}[%method]) : %msg%n </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.hibernate.type.descriptor.sql" level="info"/>
    <logger name="httpclient" level="WARN" />
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" />

    <root level="info">
        <appender-ref ref="CONSOLE"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->
    </root>

</configuration>